<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tip Calculator</title>
	<link rel="stylesheet" href="style.css">
	<script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular-messages.js"></script>
	<script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="MyCtrl">
	<!-- HEADER -->
	<h1>WaitStaff Calculator</h1>

	<!-- Main Content -->
	<div id="main-content">

		<!-- Meal Details -->
		<div class="content-box" id="details">
			<h3>Enter the Meal Details</h3>
			<form id="user-input" name="userform" ng-submit="onSubmit()">
				<div><label for="mealPrice"></label>Base Meal Price: $<input type="number" name="mealPrice" id="meal-price" ng-model="mealPrice" required step=".01"/></div>
				<div><label for="tax">Tax Rate: %</label><input type="number" name="tax" id="percent-box" ng-model="tax" required step=".1"/></div>
				<div><label for="tip">Tip Percentage: %</label><input type="number" name="tip" id="percent-box" ng-model="tip" required/><div>

				<div id="input-buttons">
					<input class="button" type="submit" value="Submit" required/>
					<input class="button" ng-click="clearform()" type="reset" value="Clear">
				</div>
			</form>
		</div>

		<!-- Charges and Info Sections -->
		<div id="right">
			<div id="charges-earnings">
				<div class="content-box" id="charges">
					<h3>Customer Charges</h3>
					<div><label>Subtotal: </label><span>{{subTotal}}</span></div>
					<div><label>Tip: </label><span>{{tip}}</span></div>
					<div><label>Total: </label><span>{{total}}</span></div>
				</div>
				<div class="content-box" id="earnings">
					<h3>My Earnings Info</h3>
					<div><label>Tip Total: </label><span>{{tipTotal}}</span></div>
					<div><label>Meal Count: </label><span>{{mealCount}}</span></div>
					<div><label>Average Tip Per Meal: </label><span>{{averageTip}}</span></div>
				</div>
			</div>
			<button id="reset" class="button" value"reset" ng-click="initialState()">Reset</button>

		</div>

	</div>
</body>
</html>





























