html {
	font-family: "comic sans ms";
}

h1 {
	font-weight: 100;
	text-align: center;
}

/*Main Content and General Styling*/
#main-content {
	width: 900px;
	margin: 0 auto;
}
.content-box {
	border: 2px black solid;
	border-radius: 3px;
	margin: 10px 5px;
}

.button {
	border: 1px solid black;
	border-radius: 5px;
	height: 20px;
	width: 60px;
	background-color: white;
}

.button:hover {
	cursor: pointer;
	border: 2px solid black;
}

h3 {
	border-bottom: 1.5px black solid;
	padding: 0 10px;
	margin: 3px;
}

/*Meal Details Box*/
#details {
	width: 400px;
	height: 253px;
	float: left;
	border: 2px solid red;
}

#user-input {
	width: 300px;
	margin: 10px auto;
	text-align: center;
}

#meal-price {
	width: 80px;
}

#percent-box {
	width: 40px;
}

#input-buttons {
	height: 40px;
	width: 60%;
	margin: 55px auto;
}

/*Charges and Earnings*/
#right {
	float: right;
	width: 100%;
	border: 2px solid red;
}

#charges-earnings {
	height: 280px;
	width: 350px;
	float: right;
}
#charges, #earnings {
	width: 330px;
}

#output {
	width: 300px;
	margin: 0 auto 6px auto;
}

#divider {
	width: 70px;
	border-top: 1px solid black;
}

/*Reset*/
/*#reset {
	float: right;
}*/


