html {
	font-family: "comic sans ms";
}

h1 {
	font-weight: 100;
	text-align: center;
}


/*Main Content and General Styling*/
#main-content {
	width: 750px;
	margin: 0 auto;
}
.content-box {
	border: 2px black solid;
	border-radius: 3px;
	margin: 10px 5px;
}

.button {
	border: 1px solid black;
	border-radius: 5px;
	height: 20px;
	width: 60px;
	background-color: white;
}

.button:hover {
	cursor: pointer;
	border: 2px solid black;
}

.button:focus {
	outline: none;
} 

h3 {
	border-bottom: 1.5px black solid;
	padding: 0 10px;
	margin: 3px;
}


/*Meal Details Box*/
#details {
	width: 380px;
	height: 253px;
	float: left;
}

#user-input {
	width: 300px;
	margin: 10px auto;
	text-align: center;
}

#meal-price {
	width: 80px;
}

#percent-box {
	width: 40px;
}

#input-buttons {
	height: 40px;
	width: 60%;
	margin: 55px auto;
}

/*Charges and Earnings*/

#charges-earnings {
	height: 300px;
	width: 330px;
	float: right;
}
#charges, #earnings {
	width: 330px;
	text-align: center;

}

#divider {
	width: 70px;
	border-top: 1px solid black;
}

#reset {
	float: right;
}

#reset:hover {
	background-color: red;
	color: white;
}

@media (max-width: 700px) {

	#main-content {
		width: 320px;
		margin: 0 auto;
	}
	#charges-earnings, #details {
		float: none;
		width: 320px;
		margin: 0;
	}

	#charges, #earnings {
		width: 320px;
		margin: 0;
	}
}


