html {
	font-family: "comic sans ms";
}

h1 {
	font-weight: 100;
	text-align: center;
}


/*Main Content and General Styling*/
#main-content {
	width: 750px;
	margin: 0 auto;
}
.content-box {
	border: 2px black solid;
	border-radius: 3px;
	margin: 20px auto;
}

.button {
	border: 1px solid black;
	border-radius: 5px;
	height: 20px;
	width: 60px;
	background-color: white;
}

.button:hover {
	cursor: pointer;
	border: 2px solid black;
}

.button:focus {
	outline: none;
} 

h3 {
	border-bottom: 1.5px black solid;
	padding: 0 10px;
	margin: 3px;
}

a:link, a:visited, a:active {
	color: #009ACD;
	text-decoration: none;

}

a:hover {
	border-bottom: 2px solid black;
}


/*HOME PAGE*/
#nav {
	list-style-type: none;
	width: 100%;
	margin: 0 auto 15px auto;
	padding: 0;
	text-align: center;
}

#nav li {
	display: inline;
	margin: 0 2px;
}

#directions {
	width: 60%;
	margin: 20px auto;
}

/*Meal Details Box*/
#details {
	width: 380px;
	height: 220px;
}

#user-input {
	width: 330px;
	margin: 20px auto;
	text-align: center;
}

#meal-price {
	width: 80px;
}

#percent-box {
	width: 40px;
}

#input-buttons {
	height: 40px;
	width: 60%;
	margin: 35px auto;
}

/*Charges and Earnings*/

#charges-earnings {
	height: 300px;
	width: 330px;
	margin: 0 auto;
}
#charges, #earnings {
	width: 330px;
	margin-top: 10px;
	text-align: center;
}

#divider {
	width: 70px;
	border-top: 1px solid black;
}

#reset {
	float: right;
	margin-top: 10px;
}

#reset:hover {
	background-color: red;
	color: white;
}

@media (max-width: 700px) {

	#main-content {
		width: 320px;
		margin: 0 auto;
	}
	#charges-earnings, #details {
		float: none;
		width: 320px;
		margin: 0 auto;
	}

	#charges, #earnings {
		width: 320px;
		margin: 0;
	}

	h1 {
		font-size: 1.4em;
	}

}


